# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.2D Shooter.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\unity\2D Shooter\.idea\.idea.2D Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
